.box {
  border: 1px solid #dfdfdf;
  border-radius: 0.6em;
  background: white;
}
.button {
  display: flex;
  height: 40px;
  justify-content: center;
  align-items: center;
  border: none !important;
  background: #c82d2d;
  color: white;
  border-radius: 0.3em;
  transition: 0.2s ease-in-out;
  user-select: none;
  cursor: pointer;
  box-shadow: 0px 0.5px 1px rgba(0, 0, 0, 0.3);
}
.button:hover {
  box-shadow: 1px 3px 3px rgba(0, 0, 0, 0.3);
}
.disabledButton {
  display: flex;
  height: 40px;
  justify-content: center;
  align-items: center;
  border: none !important;
  background: #e0e0e6;
  color: #6c6c6c;
  border-radius: 0.3em;

  user-select: none;
}
