.outerContainer {
  border: 1px solid #dfdfdf;
  border-radius: 0.6em;
  background: white;
}
.fieldContainer {
  display: flex;
  justify-content: right;
  align-items: center;
  column-gap: 1.2vw;
}

.icon {
  color: #19bfd3;
}
.emptyImage {
  display: flex;
  width: 15em;
  height: 15em;
  justify-content: center;
  align-items: center;
}
