.cardContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 15em;
  padding: 1em 0;
  background-color: #fff;
  transition: 0.2s ease-in-out;
  row-gap: 1vh;
}
.borderRadius {
  border-radius: 0.6em;
}
.boxShadow {
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
}
.boxShadow:hover {
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.6);
}
.link {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.incredibleOfferContainer {
  width: 100%;
}
.name {
  margin: 1em auto;
  text-align: right;
  font-size: 0.8em;
  width: 100%;
}
.priceContainer {
  margin: 0.4em auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.price {
  color: #6c6c6c;
  font-size: 0.8em;
  text-decoration: line-through;
  padding: 0.1em 0;
}
.badge {
  background-color: #c82d2d;
  color: white;
  padding: 0.1em 0.4em;
  border-radius: 0.5em;
  font-size: 0.8em;
}
.priceWithDiscount {
  width: 100%;
  font-size: 0.95em;
}
.priceEmpty {
  font-size: 0.8em;
  padding: 0.1em 0;
}
.badgeEmpty {
  color: white;
  padding: 0.1em 0;
  border-radius: 0.5em;
  font-size: 0.8em;
}
.basketContainer {
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 35px;
  margin: 0.5em auto;
}
.borderSkeleton {
  border: 1px solid #dfdfdf;
}
